@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Old Celtiberians';
  src: url('/src/assets/fonts/Old\ Celtiberians.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ChelseaMarket';
  src: url('/src/assets/fonts/ChelseaMarket.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
